.homepage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.card-no-posts {
  margin: auto;
}

@media (max-width: 1368px) {
  .homepage-container {
    flex-direction: column;
    align-items: center;
  }
  .card-no-posts {
    margin: 4vh 4vw;
  }
}