.authentication__header {
  color: var(--mainTextColor);
  text-align: center;
}

.authentication {
  color: var(--mainTextColor);
  width: 90%;
  max-width: 25rem;
  margin: 7rem auto;
  text-align: center;
}

.authentication form {
  margin-bottom: 1rem;
}
